<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de Estoque</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Control_Estoque.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CONTROLE DE ESTOQUE</a>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="button-23 text-white nav-link" href="@Url.Action("Index", "Home")">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="button-23 dropbtn">Cadastros</button>
                            <div class="dropdown-content">
                                <a class="button-22 text-white a-content"
                                    href="@Url.Action("Create", "Estoques")">Estoque</a>
                                <a class="button-22 text-white a-content"
                                    href="@Url.Action("Create", "Produtos")">Produto</a>
                                <a class="button-22 text-white a-content"
                                    href="@Url.Action("Create", "Fornecedor")">Fornecedor</a>
                                <a class="button-22 text-white a-content"
                                    href="@Url.Action("Create", "Clientes")">Clientes</a>
                                <a class="button-22 text-white a-content"
                                    href="@Url.Action("Create", "Inventario")">Inventário</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="button-23 dropbtn">Consultas</button>
                            <div class="dropdown-consultas">
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "Estoques")">Estoque</a>
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "Produtos")">Produto</a>
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "Clientes")">Clientes</a>
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "Fornecedor")">Fornecedor</a>
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "Inventario")">Inventário</a>
                                <a class="button-22 text-white a-consultas"
                                    href="@Url.Action("Index", "ProdutoEstoque")">Produto por Estoque</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="button-23 dropbtn">Movimentações</button>
                            <div class="dropdown-movimentacoes">
                                <a class="button-22 text-white a-movimentacoes"
                                    href="@Url.Action("Index", "ProdutoFornecedorRecebs")">Recebimentos</a>
                                <a class="button-22 text-white a-movimentacoes"
                                    href="@Url.Action("Index", "ProdutoClientes")">Vendas</a>
                                <a class="button-22 text-white a-movimentacoes"
                                    href="@Url.Action("Index", "InventarioProduto")">Por inventário</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="button-23 text-white nav-link" href="@Url.Action("Index", "Home")">Relatórios
                                Gerais</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
