@model Control_Estoque.Models.Estoque

@{
    ViewData["Title"] = "Excluir";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>EXCLUSÃO</h1>

<h3>Você tem certeza que deseja excluir este produto?</h3>
<div>
    <h4>Estoque número: @Html.DisplayFor(model => model.IdEstoque)</h4>
    <hr />
    <dl class="row">
        <dl class="row">
            <dt class="col-sm-2">
                Descrição:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomeEstoque)
            </dd>

            <dt class="col-sm-2">
                Quantidade de produtos:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuantidadeDeItensNoEstoque)
            </dd>

            <dt class="col-sm-2">
                Ativo:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AtivEstoque)
            </dd>
    </dl>

    <form asp-action="Delete">
            <input type="hidden" asp-for="IdEstoque" />
            <input class="btn btn-danger btn_margin_form" type="submit" value="Excluir" class="btn btn-danger" />
            <a class="btn btn-primary btn_margin_form" asp-action="Edit" asp-route-id="@Model?.IdEstoque">Editar</a>
        <a class="btn btn-secondary btn_margin_form" asp-action="Index">Voltar</a>
    </form>
</div>
