@model IEnumerable<Control_Estoque.Models.EstoqueProduto>
@{
    ViewData["Title"] = "Saldo produtos por estoque";
}

<h1 class="title" style="text-align: center;">Saldo produtos por estoque</h1>
<!--<form asp-area="" asp-controller="EstoqueProduto" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary nav-link text-white" style="margin-bottom: 20px; width:100%;">Nova
        entrada</button>
</form>-->

<table class="table table-sm table-striped table-bordered">
    <thead class="align-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                Quantidade
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Estoque.NomeEstoque)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
 
        </tr>
}
    </tbody>
</table>
