@model Control_Estoque.Models.Estoque

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtivEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtivEstoque)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstoque">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
