@model Control_Estoque.Models.ProdutoCliente

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto do Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.CodProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque.IdEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecebimento)
        </dd>
    </dl>
</div>
<form asp-area="" asp-controller="ProdutoClientes" asp-action="Index" method="get" class="form-group">
    <button type="submit" class="btn btn-danger btn_margin_form">Voltar</button>
</form>
