@model IEnumerable<Control_Estoque.Models.ProdutoCliente>

@{
    ViewData["Title"] = "Vendas";
}

<h1 class="title" style="text-align: center;">Vendas</h1>

<form asp-area="" asp-controller="ProdutoClientes" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary nav-link text-white" style="margin-bottom: 20px; width:100%;">Adicionar
        vendas</button>
</form>
<table class="table table-sm table-striped table-bordered ">
    <thead class="align-center">
        <tr>
            <th>
                Código fornecedor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Data venda
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.IdProdFornRec)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Cliente.IdCliente)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Produto.CodProduto)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Estoque.IdEstoque)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td class="align-center">
                @Html.DisplayFor(modelItem => item.DataRecebimento)
            </td>
            <td class="align-center">
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CodProduto">Detalhes</a>
            </td>            
        </tr>
}
    </tbody>
</table>
