@model IEnumerable<Control_Estoque.Models.Produto>

@{
    ViewData["Title"] = "Lista de produtos";
}
<h1 class="title" style="text-align: center;">Lista de produtos cadastrados</h1>

<form asp-area="" asp-controller="Produtos" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary nav-link text-white" style="margin-bottom: 20px; width:100%;">Novo produto</button>
</form>

<div style="overflow: auto; " >
    <table class="table table-sm table-striped table-bordered ">
        <thead class="align-center">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>@Html.DisplayNameFor(model => model.Descrição)</th>
                <th>Estoque Mínimo</th>
                <th>Estoque Máximo</th>
                <th>Categoria Estoque</th>                
                <th>Unidade de medida</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProduto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeProduto)
                    </td>
                    <td class="align-center">
                        @Html.DisplayFor(modelItem => item.Descrição)
                    </td>
                    <td class="align-center">
                        @Html.DisplayFor(modelItem => item.EstoqueMinimo)
                    </td>
                    <td class="align-center">
                        @Html.DisplayFor(modelItem => item.EstoqueMaximo)
                    </td>
                    <td class="align-center">
                        @ViewData["NomeEstoque"]
                       </td>                    
                    <td class="align-center">
                        @Html.DisplayFor(modelItem => item.UnidadeMedida)
                    </td>
                    <td class="align-center">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CodProduto">Editar</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CodProduto">Detalhes</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CodProduto">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>





