@model IEnumerable<Control_Estoque.Models.EstoqueProduto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque.NomeEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Estoque = item.Estoque.IdEstoque, Produto = item.Produto.CodProduto }) |
                @Html.ActionLink("Details", "Details", new { Estoque = item.Estoque.IdEstoque, Produto = item.Produto.CodProduto }) |
                @Html.ActionLink("Delete", "Delete", new { Estoque = item.Estoque.IdEstoque, Produto = item.Produto.CodProduto })
            </td>
        </tr>
}
    </tbody>
</table>
