@model Control_Estoque.Models.Inventario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMov)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
