@model IEnumerable<Control_Estoque.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataMov)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataMov)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInv">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
