@model Control_Estoque.Models.Produto

@{
    ViewData["Title"] = "Excluir";
}

<h1>EXCLUSÃO</h1>

<h3>Você tem certeza que deseja excluir este produto?</h3>
<br>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class="col-sm-2">Data cadastrado:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroProd)
        </dd>
        <dt class="col-sm-2">Estoque mínimo:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstoqueMinimo)
        </dd>
        <dt class="col-sm-2">Validade (dias):</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidadeDias)
        </dd>
        <dt class="col-sm-2">Unidade de medida:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnidadeMedida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodProduto" />
        <input class="btn btn-danger btn_margin_form" type="submit" value="Excluir" class="btn btn-danger" />
        <a class="btn btn-primary btn_margin_form" asp-action="Edit" asp-route-id="@Model?.CodProduto">Editar</a>
        <a class="btn btn-secondary btn_margin_form" asp-action="Index">Voltar</a>
    </form>
</div>
