@model IEnumerable<Control_Estoque.Models.InventarioProduto>

@{
    ViewData["Title"] = "Inventários";
}

<h1 class="title" style="text-align: center;">Movimentação de produtos por inventário</h1>

<form asp-area="" asp-controller="InventarioProduto" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary nav-link text-white" style="margin-bottom: 20px; width:100%;">Adicionar movimentação</button>
</form>
<table class="table table-sm table-striped table-bordered">
    <thead class="align-center">
        <tr>
            <th>
                Inventário
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Tipo movimentação (E / S)
            </th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inventario.IdInv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>

                
                <td class="align-center">
                @Html.DisplayFor(modelItem => item.TipoMov)
                </td>


                <td class="align-center">
                    @Html.DisplayFor(modelItem => item.Inventario.DataMov)
                </td>
        </tr>
}
    </tbody>
</table>
