@model IEnumerable<Control_Estoque.Models.Produto>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1 class="title">Lista de produtos cadastrados</h1>

<form asp-area="" asp-controller="Produtos" asp-action="Create" method="get">
    <button type="submit" class="btn btn-primary nav-link text-white">Criar novo produto</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrição)
            </th>
            <th>
                Data de cadastramento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrição)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastroProd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodProduto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodProduto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodProduto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


